html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	color: #797979;
	vertical-align: baseline;
	background: transparent
}

*:focus {
	outline: 0
}

html {
	overflow-x: hidden;
	padding: 0 !important;
	margin: 0 !important
}

ol, ul {
	list-style: none
}

a {
	text-decoration: none
}

body {
	font: normal 100% Tahoma, Arial, Sans-Serif;
	color: #333;
	background: #FFF
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
	font-size: 0
}

.clear {
	clear: both
}

.gray-border {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 2px;
	z-index: 200;
	background-color: #6a6a6a
}

.pink-border {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 2px;
	z-index: 200;
	background-color: #e8065c
}

header {
	display: block;
	clear: both;
	position: relative;
	width: 100%
}

header .container {
	clear: both;
	max-width: 960px;
	height: 50px;
	margin: 0 auto;
	padding: 20px
}

header .logo {
	float: left;
	width: 338px;
	height: 33px;
	margin-top: 10px
}

header nav {
	float: right;
	padding-top: 17px
}

header nav ul {
	display: block
}

header nav ul li {
	float: left;
	left: 0;
	display: block;
	position: relative;
	cursor: pointer;
	list-style: none;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 800;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase
}

header nav ul li a {
	height: 100%;
	padding: 0px 10px;
	display: block;
	text-align: center;
	cursor: pointer;
	color: #c0c0c0
}

header nav ul li:last-child a {
	padding-right: 0
}

header nav ul li a {
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear
}

header nav ul li.active a, header nav ul li a:hover {
	color: #e8065c
}

.dark-wrapper {
	background: #f9f9f9;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7
}

.light-wrapper {
	background: #fff
}

.inner {
	max-width: 960px;
	margin: 0 auto;
	padding: 40px 20px
}

.dark-wrapper.pink .inner {
	width: 580px
}
.small_elem .dark-wrapper.pink .inner {
	width: 280px
}

.dark-wrapper.blue {
	background: #68bdda;
	border-top: 1px solid #3fa6c3;
	border-bottom: 1px solid #3fa6c3
}

.dark-wrapper.blue .inner {
	width: 544px
}

.dark-wrapper.blue .time .count, .dark-wrapper.blue .time .text {
	-moz-text-shadow: 0px 1px rgba(63, 166, 195, 0.8);
	text-shadow: 0px 1px rgba(63, 166, 195, 0.8)
}

.dark-wrapper.multicolor {
	background: #000 url(../images/preview/bg-multicolor-wrapper.png);
	border-top: 1px solid #000;
	border-bottom: 1px solid #000
}

.dark-wrapper.multicolor .inner {
	width: 872px
}

.dark-wrapper.multicolor .time {
	background: transparent url(../images/preview/bg-multicolor-circle.png) no-repeat top left
}

.dark-wrapper.multicolor .time canvas.bg {
	display: none
}

.dark-wrapper.multisize {
	background: #f2f0f0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0
}

.dark-wrapper.multisize .inner {
	width: 400px
}

.dark-wrapper.multisize .second {
	background: transparent url(../images/preview/bg-multisize-circle.png) no-repeat top left
}

.dark-wrapper.multisize .second canvas.bg {
	display: none
}

h2 {
	clear: both;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 800;
	line-height: 20px;
	margin-bottom: 25px;
	color: #e8065c
}

.one_third {
	width: 32%;
	margin-right: 2%;
	float: left
}

.one_third.last {
	margin-right: 0
}

.one_third ul li {
	background: url(../images/preview/tick.gif) no-repeat 0px 4px;
	padding-left: 45px;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	line-height: 15px;
	padding-left: 20px;
	color: #333;
	margin-bottom: 10px
}

.one_third ul li b {
	font-size: 13px;
	font-weight: bold;
	color: #333;
	line-height: 15px
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	header .container {
		height: 70px
	}

	header .logo {
		clear: both
	}

	header .logo img {
		width: 250px
	}

	header nav {
		float: none;
		clear: both;
		padding-top: 5px
	}

	header nav ul li {
		font-size: 12px;
		line-height: 14px
	}

	header nav ul li a {
		padding: 0px 6px
	}

	header nav ul li:first-child a {
		padding-left: 0
	}

	.one_third {
		float: none;
		clear: both;
		width: 100%
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.inner {
		padding: 30px 20px
	}

	h2 {
		font-size: 22px;
		line-height: 22px
	}

	.dark-wrapper.pink .inner {
		width: 360px
	}

	.dark-wrapper.blue .inner {
		width: 272px
	}

	.dark-wrapper.multicolor .inner {
		width: 436px
	}

	.dark-wrapper.multisize .inner {
		width: 228px
	}
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
	.inner {
		padding: 20px
	}

	h2 {
		font-size: 20px;
		line-height: 20px
	}

	.dark-wrapper.pink .inner {
		width: 180px
	}

	.dark-wrapper.multisize .inner {
		width: 142px
	}
}